body {
    background: #0a092d;
    color: white;
    font-family: "HurmeGeometricSans1Bold";
}

.podpis {
    color: #c2c3bd;
    font-size: 11px;
    letter-spacing: 2px;
}

.fraza {
    background-color: #2e3856;
    border-radius: 5px
}

.font-bold {
    font-family: "HurmeGeometricSans1Bold";
}

.font-regular {
    font-family: "HurmeGeometricSans1";
}

.font-background {
    color: #9297a9;
}

.form-control {
    background-color: #2e3856;
    color: #f6f7fb;
    border: 0;
}

.upper-fraza {
    border-bottom: 1px solid black;
}

/* .form-control .fraza-input {
    border-bottom: 2px solid #f6f7fb;
} */

.form-control:focus {
    background-color: #2e3856;
    color: #f6f7fb;
    border-bottom: 2px;
    border-style: solid;
    border-color: #ffcd1f;
    border-radius: 0px;
}

.btn {
    background-color: #4255ff;
    color: white;
    border: 0ex;
}

.btn:hover {
    background-color: #4255ff;
    border: 0;
}

.btn:focus {
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.fraza {
    font-size: 20;
    background-color: #2e3856;
}

.word-pair {
    background-color: #2e3856;
    font-family: "HurmeGeometricSans1";
    border-radius: 10px;
}

.word-viewer {
    background-color: #2e3856;
    font-family: "HurmeGeometricSans1";
    border-radius: 10px;
    height: 100%;
}

.flashcard-viewer {
    background-color: #2e3856;
    font-family: "HurmeGeometricSans1";
    border-radius: 10px;
    height: 75vh;
}

.fiszki {
    height: 75vh;
}

.next-button {
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    font-size: 40;
    text-align: center;
}

.upper-fiszka {
    height: 75%;
}

.next-button:hover {
    border-color: #939bb4;
}

.progress-bar {
    height: 5px;
    width: 0%;
    background-color: #7b89c9;
}

.learn-button {
    background-color: #2e3856;
    border-radius: 10px;
    font-size: 20;
}

.learn-button:hover {
    border-radius: 10px;
    border-bottom: 2px solid #a8b1ff;
}

.glowny-navbar {
    border-bottom: 1px solid #282e3e;
}

.set-card {
    background-color: #2e3856;
}

a {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: "HurmeGeometricSans1";
    src: url(fonts/HurmeGeometricSans1.otf);
}
@font-face {
    font-family: "HurmeGeometricSans1Bold";
    src: url(fonts/HurmeGeometricSans1Bold.otf);
}

*:hover,
*:focus,
*:active
 {
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}