.ela-mode {
    background-color: #2e3856;
    border-radius: 10px;
}

.ela-answer {
    font-family: "HurmeGeometricSans1";
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #646f90;
}

.ela-answer:hover {
    border-color: #939bb4;
} 