@import "../../node_modules/bootstrap/scss/functions";
// Default overrides
$offcanvas-bg-color: #0a092d;
$offcanvas-color: white;
$body-color: white;
$body-bg: #0a092d;

.offcanvas {
   --bs-offcanvas-bg: #0a092d;
}



$btn-close-color: white;
$theme-colors: (                    
  "primary":    #4255ff,
  "light":      #0a092d,
  "dark":       #0a092d
);                                        

@import "../../node_modules/bootstrap/scss/variables";
// //map overrides
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";